html{
  background-image: url('paff-default.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
html{
  margin:0;
}
body{
  margin: 0;
}
header{
  background-color: black;
  position: fixed;
  width: 100%;
  margin:0;
}
header>h1{
  text-align: center;
  color: white;
  font-style: oblique;
  font-size: 300%;
  margin:0;
}
body>h1{
  text-align: center;
}
body>section{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
}
section>section{
  background-color: lightgrey;
  width: 32%;
  margin: 5px;
}
#f{
  background-color: lightgrey;
  margin-left: 35%;
  margin-right: 30%;
  width: 30%;
}
